html, body, #app {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
  
/** 文字字型設定 */
.Edu {
	font-family: 'Edu SA Beginner', cursive;
}

.Poppins {
	font-family: 'Poppins', cursive;
}

/** 新細明體 */
.self-intro {
  font-family: 'PMingLiU', '新細明體', serif;
}